<div id="page">
<div>
<h1 class="emphnext">{{ page.title }}</h1>
<div class="tagdiv" id="tagdiv">
    <a href="/tag/clanguage.html" class="red">c/c++</a>
    <a href="/tag/linux.html" class="blue">linux</a>
    <a href="/tag/python.html" class="yellow">python</a>
    <a href="/tag/shell.html" class="blue">shell</a>
    <a href="/tag/awksedgrep.html" class="red">awk sed grep</a>
    <a href="/tag/android.html" >android</a>
    <a href="/tag/bishi.html" class="red">笔试</a>
    <a href="/tag/html.html" class="blue">html css</a>
    <a href="/tag/script.html" class="red">脚本</a>

</div>

</div>
{{ content }}

</div><!-- End Page -->
